@import url(../fonts/fonts.css);
/* line 7, mainStyle/_helpers.scss */
body {
  font-family: "Frutiger-Roman";
  font-size: 14px; }

/* line 13, mainStyle/_helpers.scss */
* {
  outline: none; }

/* line 18, mainStyle/_helpers.scss */
a:focus, a:hover {
  text-decoration: none;
  color: white; }

/* line 23, mainStyle/_helpers.scss */
.aFixx {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: 0;
  box-shadow: none; }

/* line 40, mainStyle/_helpers.scss */
.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%; }
  /* line 46, mainStyle/_helpers.scss */
  .owl-dots .owl-dot {
    background-color: black !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.5; }
  /* line 54, mainStyle/_helpers.scss */
  .owl-dots .owl-dot.active {
    opacity: 1;
    background-color: black !important; }

/* line 61, mainStyle/_helpers.scss */
.section-header {
  text-align: center;
  font-size: 24px;
  font-family: "Frutiger-Black";
  color: white;
  margin-bottom: 45px; }

/* line 71, mainStyle/_helpers.scss */
.patrnBack-show {
  position: relative;
  overflow: hidden; }
  /* line 74, mainStyle/_helpers.scss */
  .patrnBack-show::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    content: '';
    background-image: url("../images/pattren.png");
    transition: all 0.5s ease;
    animation: testmove 20s infinite; }

@keyframes testmove {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
/* line 1, mainStyle/_headerFix.scss */
.header-section {
  background-image: url("../images/1.jpg");
  min-height: 100vh;
  background-repeat: round; }

/* line 7, mainStyle/_headerFix.scss */
.top-nav {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

/* line 16, mainStyle/_headerFix.scss */
.header-centerLogo {
  position: relative;
  z-index: 3;
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  /* line 25, mainStyle/_headerFix.scss */
  .header-centerLogo span {
    margin-top: 35px;
    margin-bottom: 50px;
    color: white;
    font-family: "Frutiger-Bold";
    font-size: 30px; }

/* line 36, mainStyle/_headerFix.scss */
.downBtnContainer-fix {
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-top: 5px; }
  /* line 48, mainStyle/_headerFix.scss */
  .downBtnContainer-fix a {
    height: 50px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 12px;
    position: relative; }
    /* line 57, mainStyle/_headerFix.scss */
    .downBtnContainer-fix a span {
      width: 1px;
      height: 9px;
      position: absolute;
      top: 0px;
      left: 11px;
      background-color: white;
      animation: mymove 5s infinite; }

@keyframes mymove {
  0% {
    top: 10px; }
  50% {
    top: 30px; }
  100% {
    top: 10px; } }
/* line 6, mainStyle/_sideNav.scss */
.top-nav .left-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; }
  /* line 12, mainStyle/_sideNav.scss */
  .top-nav .left-links ul li {
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Frutiger-Bold";
    font-size: 16px; }
  /* line 20, mainStyle/_sideNav.scss */
  .top-nav .left-links ul .aFixx {
    position: relative; }
    /* line 22, mainStyle/_sideNav.scss */
    .top-nav .left-links ul .aFixx:before {
      position: absolute;
      content: '';
      bottom: -5px;
      height: 1px;
      width: 0;
      transition: all 0.5s ease;
      background-color: white; }
    /* line 34, mainStyle/_sideNav.scss */
    .top-nav .left-links ul .aFixx:hover:before {
      width: 100%; }

/* line 49, mainStyle/_sideNav.scss */
.top-nav .left-links.xs-NavFix {
  position: fixed;
  width: 220px;
  background-color: white;
  transition: all 0.5s ease;
  top: 0;
  right: -220px;
  bottom: 0;
  padding-top: 50px; }
  /* line 62, mainStyle/_sideNav.scss */
  .top-nav .left-links.xs-NavFix ul {
    flex-direction: column; }
    /* line 65, mainStyle/_sideNav.scss */
    .top-nav .left-links.xs-NavFix ul .aFixx {
      color: black;
      justify-content: flex-start;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
      margin-left: 20px; }

/* line 81, mainStyle/_sideNav.scss */
.navOpenBtn {
  font-size: 20px; }
  /* line 84, mainStyle/_sideNav.scss */
  .navOpenBtn span {
    margin-right: 5px;
    margin-left: 5px; }

/* line 91, mainStyle/_sideNav.scss */
.closeNavBtnSvg {
  position: absolute;
  top: 20px;
  left: 30px; }

/* line 99, mainStyle/_sideNav.scss */
.sideOPend {
  right: 0 !important;
  z-index: 9 !important; }

/* line 103, mainStyle/_sideNav.scss */
.overOpend {
  transition: all 0.5s ease;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9; }

/* line 1, mainStyle/_vissionFix.scss */
.vission-section {
  background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  background-position-x: right; }
  /* line 7, mainStyle/_vissionFix.scss */
  .vission-section:before {
    background-image: url("../images/pattren2.png");
    background-repeat: no-repeat;
    background-position: right; }
  /* line 14, mainStyle/_vissionFix.scss */
  .vission-section .vission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 325px;
    position: relative;
    z-index: 3;
    color: white; }
    /* line 27, mainStyle/_vissionFix.scss */
    .vission-section .vission-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px; }
    /* line 31, mainStyle/_vissionFix.scss */
    .vission-section .vission-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      max-width: 600px;
      text-align: justify; }

/* line 1, mainStyle/_messageFix.scss */
.message-section {
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat; }
  /* line 6, mainStyle/_messageFix.scss */
  .message-section:before {
    background-image: url("../images/pattren3.png");
    background-repeat: no-repeat;
    background-position: right; }
  /* line 13, mainStyle/_messageFix.scss */
  .message-section .message-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 325px;
    position: relative;
    z-index: 3; }
    /* line 25, mainStyle/_messageFix.scss */
    .message-section .message-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px;
      color: #14c7b8; }
    /* line 30, mainStyle/_messageFix.scss */
    .message-section .message-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      color: black;
      max-width: 600px;
      text-align: justify; }

/* line 1, mainStyle/_phylsf.scss */
.phylsf-section {
  background-image: url(../images/4.jpg);
  background-repeat: no-repeat;
  background-position-x: right; }
  /* line 7, mainStyle/_phylsf.scss */
  .phylsf-section:before {
    background-image: url("../images/pattren4.png");
    background-repeat: no-repeat;
    background-position: left; }
  /* line 14, mainStyle/_phylsf.scss */
  .phylsf-section .phylsf-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 55%;
    min-height: 325px;
    position: relative;
    z-index: 3; }
    /* line 26, mainStyle/_phylsf.scss */
    .phylsf-section .phylsf-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px;
      color: white; }
    /* line 31, mainStyle/_phylsf.scss */
    .phylsf-section .phylsf-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      color: white;
      max-width: 600px;
      text-align: justify; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 53, mainStyle/_phylsf.scss */
  .phylsf-section .phylsf-info {
    padding: 0; }
    /* line 55, mainStyle/_phylsf.scss */
    .phylsf-section .phylsf-info h3, .phylsf-section .phylsf-info p {
      color: black; } }
/* line 3, mainStyle/_developmentFix.scss */
.development-section.patrnBack-show::before {
  background-image: url("../images/pattren5.png");
  background-repeat: no-repeat;
  background-position: bottom; }

/* line 9, mainStyle/_developmentFix.scss */
.development-section {
  padding-top: 90px;
  padding-bottom: 90px; }
  /* line 13, mainStyle/_developmentFix.scss */
  .development-section .container {
    z-index: 5;
    position: relative; }

/* line 20, mainStyle/_developmentFix.scss */
.development-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }
  /* line 26, mainStyle/_developmentFix.scss */
  .development-item .itemHeader {
    text-align: center;
    margin-bottom: 50px;
    position: relative; }
    /* line 31, mainStyle/_developmentFix.scss */
    .development-item .itemHeader h3 {
      font-size: 18px;
      font-family: "Frutiger-Black";
      max-width: 285px; }
    /* line 38, mainStyle/_developmentFix.scss */
    .development-item .itemHeader:before {
      position: absolute;
      content: '';
      background-color: #3a3637;
      width: 50px;
      height: 2px;
      bottom: -25px;
      right: 42%; }
  /* line 50, mainStyle/_developmentFix.scss */
  .development-item .itemInfo {
    font-size: 15px;
    font-family: "Frutiger-Roman";
    max-width: 340px;
    text-align: center; }
    /* line 55, mainStyle/_developmentFix.scss */
    .development-item .itemInfo p {
      margin: 0; }

/* line 3, mainStyle/_studioFix.scss */
.studios-section.patrnBack-show::before {
  background-image: url("../images/pattren6.png");
  background-repeat: no-repeat; }

/* line 8, mainStyle/_studioFix.scss */
.studios-section {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 73px;
  padding-bottom: 90px; }
  /* line 15, mainStyle/_studioFix.scss */
  .studios-section .container {
    z-index: 5;
    position: relative; }

/* line 22, mainStyle/_studioFix.scss */
.studios-item {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 55px;
  padding-right: 25px;
  padding-left: 25px;
  position: relative; }
  /* line 32, mainStyle/_studioFix.scss */
  .studios-item .item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* line 41, mainStyle/_studioFix.scss */
  .studios-item .header-txt {
    padding-top: 20px; }
    /* line 44, mainStyle/_studioFix.scss */
    .studios-item .header-txt .aFixx {
      font-size: 16px;
      font-family: "Frutiger-Black";
      color: black;
      position: relative;
      height: 40px;
      align-items: baseline;
      margin-bottom: 20px; }
      /* line 54, mainStyle/_studioFix.scss */
      .studios-item .header-txt .aFixx:before {
        transition: all 0.5s ease;
        position: absolute;
        content: '';
        background-color: #3a3637;
        width: 50px;
        height: 2px;
        bottom: 0px;
        right: 50%;
        transform: translate(50%); }
      /* line 66, mainStyle/_studioFix.scss */
      .studios-item .header-txt .aFixx:hover {
        color: #f8736a; }
        /* line 69, mainStyle/_studioFix.scss */
        .studios-item .header-txt .aFixx:hover:before {
          background-color: #f8736a; }
  /* line 78, mainStyle/_studioFix.scss */
  .studios-item .item-data p {
    margin: 0;
    font-size: 15px;
    text-align: center; }
  /* line 85, mainStyle/_studioFix.scss */
  .studios-item .seeBtn {
    position: absolute;
    bottom: 0;
    left: 0; }
    /* line 90, mainStyle/_studioFix.scss */
    .studios-item .seeBtn .aFixx {
      width: 34px;
      height: 34px;
      background-color: #f2f2f2; }
      /* line 95, mainStyle/_studioFix.scss */
      .studios-item .seeBtn .aFixx:hover {
        background-color: #f8736a; }
        /* line 98, mainStyle/_studioFix.scss */
        .studios-item .seeBtn .aFixx:hover img {
          content: url("../images/plsVctrHvrd.png") !important; }

/* line 2, mainStyle/_socialFix.scss */
.social-section.patrnBack-show::before {
  background-image: url("../images/pattren7.png");
  background-repeat: no-repeat;
  background-position: right; }

/* line 9, mainStyle/_socialFix.scss */
.social-section {
  padding-top: 80px;
  padding-bottom: 80px; }
  /* line 13, mainStyle/_socialFix.scss */
  .social-section .section-header {
    color: black; }
  /* line 18, mainStyle/_socialFix.scss */
  .social-section .container {
    position: relative;
    z-index: 5; }
  /* line 23, mainStyle/_socialFix.scss */
  .social-section .contrFixx {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 31, mainStyle/_socialFix.scss */
  .social-section .right-section {
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  /* line 40, mainStyle/_socialFix.scss */
  .social-section .left-section {
    width: 100%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  /* line 51, mainStyle/_socialFix.scss */
  .social-section .social-item {
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    width: 368px;
    height: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    /* line 63, mainStyle/_socialFix.scss */
    .social-section .social-item .item-img {
      margin-bottom: 20px; }
    /* line 67, mainStyle/_socialFix.scss */
    .social-section .social-item .item-txt {
      font-size: 16px;
      font-family: "Frutiger-Black";
      pointer-events: none; }
  /* line 76, mainStyle/_socialFix.scss */
  .social-section .social-btns {
    display: flex;
    margin-bottom: 20px; }
    /* line 81, mainStyle/_socialFix.scss */
    .social-section .social-btns .right-btn {
      width: 100%;
      margin-left: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    /* line 88, mainStyle/_socialFix.scss */
    .social-section .social-btns .left-btn {
      width: 100%;
      margin-right: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    /* line 96, mainStyle/_socialFix.scss */
    .social-section .social-btns .aFixx {
      border-style: solid;
      border-width: 2px;
      border-color: #3a3637;
      width: 191px;
      height: 52px;
      font-size: 15px;
      font-family: "Frutiger-Bold";
      color: black; }
      /* line 107, mainStyle/_socialFix.scss */
      .social-section .social-btns .aFixx:hover {
        background-color: #f8736a;
        border-color: #f8736a;
        color: white; }

/* line 1, mainStyle/_ourServiceFixx.scss */
.ourService-section.patrnBack-show::before {
  background-image: url("../images/pattren8.png");
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: -70px; }

/* line 10, mainStyle/_ourServiceFixx.scss */
.ourService-section {
  background-image: url("../images/1.jpg");
  padding-top: 90px;
  padding-bottom: 90px; }
  /* line 16, mainStyle/_ourServiceFixx.scss */
  .ourService-section .container {
    position: relative;
    z-index: 5; }

/* line 23, mainStyle/_ourServiceFixx.scss */
.service-item {
  display: flex;
  margin-bottom: 50px; }
  /* line 27, mainStyle/_ourServiceFixx.scss */
  .service-item .item-img {
    margin-left: 25px; }
  /* line 31, mainStyle/_ourServiceFixx.scss */
  .service-item .item-info {
    padding-top: 10px; }
    /* line 34, mainStyle/_ourServiceFixx.scss */
    .service-item .item-info .item-header {
      font-size: 17px;
      font-family: "Frutiger-Black";
      color: white;
      margin-bottom: 20px; }
    /* line 41, mainStyle/_ourServiceFixx.scss */
    .service-item .item-info .item-txt {
      font-size: 15px;
      color: white; }

/* line 51, mainStyle/_ourServiceFixx.scss */
.service-btn {
  display: flex;
  justify-content: center; }
  /* line 55, mainStyle/_ourServiceFixx.scss */
  .service-btn .aFixx {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgba(58, 54, 55, 0);
    width: 191px;
    height: 52px;
    font-size: 15px;
    font-family: "Frutiger-Bold"; }
    /* line 67, mainStyle/_ourServiceFixx.scss */
    .service-btn .aFixx:hover {
      background-color: #f8736a;
      border-color: #f8736a; }

/* line 1, mainStyle/_footerFixx.scss */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px; }
  /* line 10, mainStyle/_footerFixx.scss */
  .footer-section .social-btns {
    display: flex;
    margin-bottom: 35px; }
    /* line 14, mainStyle/_footerFixx.scss */
    .footer-section .social-btns .aFixx {
      background-color: #3a3637;
      width: 32px;
      height: 32px;
      margin-right: 2.5px;
      margin-left: 2.5px; }
      /* line 22, mainStyle/_footerFixx.scss */
      .footer-section .social-btns .aFixx:hover {
        background-color: #f8736a; }
  /* line 31, mainStyle/_footerFixx.scss */
  .footer-section .social-txt {
    display: flex; }
    /* line 33, mainStyle/_footerFixx.scss */
    .footer-section .social-txt span {
      display: flex;
      margin-right: 2.5px;
      margin-left: 2.5px; }
      /* line 39, mainStyle/_footerFixx.scss */
      .footer-section .social-txt span .aFixx {
        margin-right: 2.5px;
        margin-left: 2.5px; }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 11, mainStyle/_mediaFixx.scss */
  .ourService-section {
    background-size: cover; }

  /* line 14, mainStyle/_mediaFixx.scss */
  .studios-item {
    margin-bottom: 30px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 24, mainStyle/_mediaFixx.scss */
  .top-nav {
    flex-direction: row-reverse; }

  /* line 27, mainStyle/_mediaFixx.scss */
  .header-centerLogo span {
    font-size: 24px; }

  /* line 32, mainStyle/_mediaFixx.scss */
  .social-section .contrFixx, .social-section .social-btns {
    flex-direction: column; }

  /* line 36, mainStyle/_mediaFixx.scss */
  .social-section .right-section, .social-section .left-section,
  .social-section .social-btns .right-btn, .social-section .social-btns .left-btn {
    align-items: center;
    margin: 0;
    justify-content: center; }

  /* line 42, mainStyle/_mediaFixx.scss */
  .social-section .social-btns .aFixx {
    margin-bottom: 25px; }

  /* line 46, mainStyle/_mediaFixx.scss */
  .social-section .social-item {
    width: 90vw; }

  /* line 50, mainStyle/_mediaFixx.scss */
  .footer-section .social-txt {
    flex-direction: column;
    align-items: center; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* line 63, mainStyle/_mediaFixx.scss */
  .header-centerLogo span {
    font-size: 20px; }

  /* line 68, mainStyle/_mediaFixx.scss */
  .service-item {
    flex-direction: column;
    align-items: center; }
    /* line 72, mainStyle/_mediaFixx.scss */
    .service-item .item-img {
      margin: 0; }
    /* line 74, mainStyle/_mediaFixx.scss */
    .service-item .item-info .item-header, .service-item .item-info .item-txt {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
