@import url(../fonts/fonts.css);
/* line 7, mainStyle/_helpers.scss */
body {
  font-family: "Frutiger-Roman";
  font-size: 14px; }

/* line 13, mainStyle/_helpers.scss */
* {
  outline: none; }

/* line 18, mainStyle/_helpers.scss */
a:focus, a:hover {
  text-decoration: none;
  color: white; }

/* line 23, mainStyle/_helpers.scss */
.aFixx {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: 0;
  box-shadow: none; }

/* line 40, mainStyle/_helpers.scss */
.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%; }
  /* line 46, mainStyle/_helpers.scss */
  .owl-dots .owl-dot {
    background-color: black !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.5; }
  /* line 54, mainStyle/_helpers.scss */
  .owl-dots .owl-dot.active {
    opacity: 1;
    background-color: black !important; }

/* line 64, mainStyle/_helpers.scss */
.patrnBack-show {
  position: relative;
  overflow: hidden; }
  /* line 67, mainStyle/_helpers.scss */
  .patrnBack-show::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    content: '';
    background-image: url("../images/pattren.png");
    transition: all 0.5s ease;
    animation: testmove 100s infinite; }

@keyframes testmove {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
/* line 1, mainStyle/_headerFix.scss */
.header-section {
  background-image: url("../images/1.jpg");
  min-height: 100vh;
  background-repeat: round; }

/* line 7, mainStyle/_headerFix.scss */
.top-nav {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

/* line 16, mainStyle/_headerFix.scss */
.header-centerLogo {
  position: relative;
  z-index: 3;
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  /* line 25, mainStyle/_headerFix.scss */
  .header-centerLogo span {
    margin-top: 35px;
    margin-bottom: 50px;
    color: white;
    font-family: "Frutiger-Bold";
    font-size: 30px; }

/* line 36, mainStyle/_headerFix.scss */
.downBtnContainer-fix {
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-top: 5px; }
  /* line 48, mainStyle/_headerFix.scss */
  .downBtnContainer-fix a {
    height: 50px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 12px;
    position: relative; }
    /* line 57, mainStyle/_headerFix.scss */
    .downBtnContainer-fix a span {
      width: 1px;
      height: 9px;
      position: absolute;
      top: 0px;
      left: 11px;
      background-color: white;
      animation: mymove 5s infinite; }

@keyframes mymove {
  0% {
    top: 10px; }
  50% {
    top: 30px; }
  100% {
    top: 10px; } }
/* line 6, mainStyle/_sideNav.scss */
.top-nav .left-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; }
  /* line 12, mainStyle/_sideNav.scss */
  .top-nav .left-links ul li {
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Frutiger-Bold";
    font-size: 16px; }
  /* line 20, mainStyle/_sideNav.scss */
  .top-nav .left-links ul .aFixx {
    position: relative; }
    /* line 22, mainStyle/_sideNav.scss */
    .top-nav .left-links ul .aFixx:before {
      position: absolute;
      content: '';
      bottom: -5px;
      height: 1px;
      width: 0;
      transition: all 0.5s ease;
      background-color: white; }
    /* line 34, mainStyle/_sideNav.scss */
    .top-nav .left-links ul .aFixx:hover:before {
      width: 100%; }

/* line 49, mainStyle/_sideNav.scss */
.top-nav .left-links.xs-NavFix {
  position: fixed;
  width: 220px;
  background-color: white;
  transition: all 0.5s ease;
  top: 0;
  right: -220px;
  bottom: 0;
  padding-top: 50px; }
  /* line 62, mainStyle/_sideNav.scss */
  .top-nav .left-links.xs-NavFix ul {
    flex-direction: column; }
    /* line 65, mainStyle/_sideNav.scss */
    .top-nav .left-links.xs-NavFix ul .aFixx {
      color: black;
      justify-content: flex-start;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
      margin-left: 20px; }

/* line 81, mainStyle/_sideNav.scss */
.navOpenBtn {
  font-size: 20px; }
  /* line 84, mainStyle/_sideNav.scss */
  .navOpenBtn span {
    margin-right: 5px;
    margin-left: 5px; }

/* line 91, mainStyle/_sideNav.scss */
.closeNavBtnSvg {
  position: absolute;
  top: 20px;
  left: 30px; }

/* line 99, mainStyle/_sideNav.scss */
.sideOPend {
  right: 0 !important;
  z-index: 9 !important; }

/* line 103, mainStyle/_sideNav.scss */
.overOpend {
  transition: all 0.5s ease;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9; }

/* line 1, mainStyle/_vissionFix.scss */
.vission-section {
  background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  background-position-x: right; }
  /* line 7, mainStyle/_vissionFix.scss */
  .vission-section:before {
    background-image: url("../images/pattren2.png");
    background-repeat: no-repeat;
    background-position: right; }
  /* line 14, mainStyle/_vissionFix.scss */
  .vission-section .vission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 325px;
    position: relative;
    z-index: 3;
    color: white; }
    /* line 27, mainStyle/_vissionFix.scss */
    .vission-section .vission-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px; }
    /* line 31, mainStyle/_vissionFix.scss */
    .vission-section .vission-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      max-width: 600px;
      text-align: justify; }

/* line 1, mainStyle/_messageFix.scss */
.message-section {
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat; }
  /* line 6, mainStyle/_messageFix.scss */
  .message-section:before {
    background-image: url("../images/pattren3.png");
    background-repeat: no-repeat;
    background-position: right; }
  /* line 13, mainStyle/_messageFix.scss */
  .message-section .message-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 325px;
    position: relative;
    z-index: 3; }
    /* line 25, mainStyle/_messageFix.scss */
    .message-section .message-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px;
      color: #14c7b8; }
    /* line 30, mainStyle/_messageFix.scss */
    .message-section .message-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      color: black;
      max-width: 600px;
      text-align: justify; }

/* line 1, mainStyle/_phylsf.scss */
.phylsf-section {
  background-image: url(../images/4.jpg);
  background-repeat: no-repeat;
  background-position-x: right; }
  /* line 7, mainStyle/_phylsf.scss */
  .phylsf-section:before {
    background-image: url("../images/pattren4.png");
    background-repeat: no-repeat;
    background-position: left; }
  /* line 14, mainStyle/_phylsf.scss */
  .phylsf-section .phylsf-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 55%;
    min-height: 325px;
    position: relative;
    z-index: 3; }
    /* line 26, mainStyle/_phylsf.scss */
    .phylsf-section .phylsf-info h3 {
      font-family: "Frutiger-Black";
      font-size: 24px;
      color: white; }
    /* line 31, mainStyle/_phylsf.scss */
    .phylsf-section .phylsf-info p {
      font-family: "Frutiger-Light";
      font-size: 18px;
      line-height: 38px;
      margin: 0;
      color: white;
      max-width: 600px;
      text-align: justify; }

/* line 3, mainStyle/_developmentFix.scss */
.development-section {
  padding-top: 90px;
  padding-bottom: 90px; }

/* line 9, mainStyle/_developmentFix.scss */
.development-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }
  /* line 15, mainStyle/_developmentFix.scss */
  .development-item .itemHeader {
    text-align: center;
    margin-bottom: 50px;
    position: relative; }
    /* line 20, mainStyle/_developmentFix.scss */
    .development-item .itemHeader h3 {
      font-size: 18px;
      font-family: "Frutiger-Black";
      max-width: 285px; }
    /* line 27, mainStyle/_developmentFix.scss */
    .development-item .itemHeader:before {
      position: absolute;
      content: '';
      background-color: #3a3637;
      width: 50px;
      height: 2px;
      bottom: -25px;
      right: 42%; }
  /* line 39, mainStyle/_developmentFix.scss */
  .development-item .itemInfo {
    font-size: 15px;
    font-family: "Frutiger-Roman";
    max-width: 340px;
    text-align: center; }
    /* line 44, mainStyle/_developmentFix.scss */
    .development-item .itemInfo p {
      margin: 0; }

/*# sourceMappingURL=style.css.map */
