 /* Medium Devices, Desktops */
 @media only screen and (max-width : 992px) {
    .hasafahSociety-more .social-imgs {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .ourService-section{
        background-size: cover;
    }
    .studios-item{
        margin-bottom: 30px;
    }


    .vission-section {
        background-image: url('../images/vision.jpg');
        background-size: cover;
        .vission-info {
            align-items: center;

            p{
                text-align: center;
            }
        }
    }
    
    .message-section {
        background-image: url('../images/message.jpg');
        background-size: cover;
            .message-info {
                p{
                    text-align: center;
                }
            }
    }
    
    .phylsf-section {
        background-image: url('../images/phylsf.jpg');
        background-size: cover;
        .phylsf-info{
            align-items: center;
            h3{
                color: white;
            }

            p{
                text-align: center;
                color: white;
            }
        }
    }
}



/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .top-nav{
        padding-right: 20px;
        padding-left: 20px;
    }
    .header-centerLogo span {
        font-size: 24px;
    }


    .social-section .contrFixx , .social-section .social-btns{
        flex-direction: column;
    }

    .social-section .right-section , .social-section .left-section,
    .social-section .social-btns .right-btn , .social-section .social-btns .left-btn{
        align-items: center;
        margin: 0!important;
        justify-content: center;
    }
    .social-section .social-btns .aFixx{
        margin-bottom: 25px;
    }

    .social-section .social-item{
        width: 90vw;
    }

    .footer-section .social-txt{
        flex-direction: column;
        align-items: center;
    }


    .inputModal-fixx .fileInputFixx{
        justify-content: flex-end;
    }
}





/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    .header-centerLogo span {
        font-size: 20px;
    }


    .service-item{
        flex-direction: column;
        align-items: center;
        
        .item-img{margin: 0;}

        .item-info .item-header , .item-info .item-txt{
            text-align: center;
        }

        
    }
}