.phylsf-section{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    
    
    &:before{
        background-image: url('../images/pattren4.png');
        background-repeat: no-repeat;
        background-position: left;
    }
    
    
    .phylsf-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 55%;
        min-height: 325px;

        position: relative;
        z-index: 3;

        
        h3{
            font-family: $FB;
            font-size: 24px;
            color: white;
        }
        p{
            font-family: $FL;
            font-size: 18px;
            line-height: 38px;
            margin: 0;
            color: white;

            max-width: 600px;
            text-align: justify;

        }
    }



}