


.top-nav{
    .left-links{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li{
                margin-right: 5px;
                margin-left: 5px;

                font-family: $FB;
                font-size: 16px;
            }

            .aFixx{
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    bottom: -5px;
                    height: 1px;
                    width: 0;
                    transition: all 0.5s ease;
                    background-color: white;
                }


                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }
}






.top-nav.xs-NavFix{
    .left-links{
        
    }
}