

.studios-section.patrnBack-show::before{
    background-image: url('../images/pattren6.png');
    background-repeat: no-repeat;
}

.studios-section{
    background-image: url('../images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 73px;
    padding-bottom: 90px;

    .container{
        z-index: 5;
        position: relative;
    }
}


.studios-item{
  background-color: white;
  padding-top: 40px;
  padding-bottom: 55px;
  padding-right: 25px;
  padding-left: 25px;


  position: relative;

    .item-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-img{}

    .header-txt{
        padding-top: 20px;
        
        .aFixx{
            font-size: 16px;
            font-family: $FBB;
            color: black;
            position: relative;

            padding-bottom: 20px;
            align-items: baseline;
            margin-bottom: 20px;

            &:before{
                transition: all 0.5s ease;
                position: absolute;
                content: '';
                background-color: #3a3637;
                width: 50px;
                height: 2px;
                bottom: 0px;
                right: 50%;
                transform: translate(50%);
            }

            &:hover{
                color: #f8736a;

                &:before{
                    background-color: #f8736a;
                }
            }

        }
    }

    .item-data{
        p{
            margin: 0;
            font-size: 15px;
            text-align: center;
        }
    }

    .seeBtn{
        position: absolute;
        bottom: 0;
        left: 0;

        .aFixx{
            width: 34px;
            height: 34px;
            background-color: #f2f2f2;

            &:hover{
                background-color: #f8736a;

                img{
                    content: url('../images/plsVctrHvrd.png')!important;

                }
            }
        }
    }
}